.user-profile {
    display: flex;
    justify-content: left;
    margin: 1px;
    padding: 10px;
    height: 20px;
}

.profileImage {
    width:40px;
    height:40px;
    background-image: url("../assets/images/ProfileImage.jpg");
    background-size: cover;
}

.username {
    padding: 10px;
    text-align: center;
}